
Credit Card Customer Churn: Data Cleaning & Preparation

Author: Roy Lahav

Dataset: Bank Churners (`BankChurners.csv`)

Objective
Prepare the Bank Churners dataset for churn modeling by cleaning, encoding, and engineering features, then export a clean file for EDA and modeling.

Steps
1. Load & inspect  
2. Target mapping & column pruning  
3. Missing values & data types  
4. Categorical encodings  
5. Feature engineering  
6. Export cleaned dataset

## 1) Setup & Load Data

In [16]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('BankChurners.csv')
print('Raw shape:', df.shape)
df.head()

Raw shape: (10127, 23)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

## 2) Inspect Structure

In [17]:

df.info()
print('\nColumns:', df.columns.tolist())
df.describe().T.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

Columns: ['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

                            count          mean           std          min           25%           50%           75%           max
CLIENTNUM                 10127.0  7.391776e+08  3.690378e+07  708082083.0  7.130368e+08  7.179264e+08  7.731435e+08  8.283431e+08
Customer_Age              10127.0  4.632596e+01  8.016814e+00         26.0  4.100000e+01  4.600000e+01  5.200000e+01  7.300000e+01
Dependent_count           10127.0  2.346203e+00  1.298908e+00          0.0  1.000000e+00  2.000000e+00  3.000000e+00  5.000000e+00
Months_on_book            10127.0  3.592841e+01  7.986416e+00         13.0  3.100000e+01  3.600000e+01  4.000000e+01  5.600000e+01
Total_Relationship_Count  10127.0  3.812580e+00  1.554408e+00          1.0  3.000000e+00  4.000000e+00  5.000000e+00  6.000000e+00
Months_Inactive_12_mon    10127.0  2.341167e+00  1.010622e+00          0.0  2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
Contacts_Count_12_mon     10127.0  2.455317e+00  1.106225e+00          0.0  2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
Credit_Limit              10127.0  8.631954e+03  9.088777e+03       1438.3  2.555000e+03  4.549000e+03  1.106750e+04  3.451600e+04
Total_Revolving_Bal       10127.0  1.162814e+03  8.149873e+02          0.0  3.590000e+02  1.276000e+03  1.784000e+03  2.517000e+03
Avg_Open_To_Buy           10127.0  7.469140e+03  9.090685e+03          3.0  1.324500e+03  3.474000e+03  9.859000e+03  3.451600e+04
Total_Amt_Chng_Q4_Q1      10127.0  7.599407e-01  2.192068e-01          0.0  6.310000e-01  7.360000e-01  8.590000e-01  3.397000e+00
Total_Trans_Amt           10127.0  4.404086e+03  3.397129e+03        510.0  2.155500e+03  3.899000e+03  4.741000e+03  1.848400e+04
Total_Trans_Ct            10127.0  6.485869e+01  2.347257e+01         10.0  4.500000e+01  6.700000e+01  8.100000e+01  1.390000e+02
Total_Ct_Chng_Q4_Q1       10127.0  7.122224e-01  2.380861e-01          0.0  5.820000e-01  7.020000e-01  8.180000e-01  3.714000e+00
Avg_Utilization_Ratio     10127.0  2.748936e-01  2.756915e-01          0.0  2.300000e-02  1.760000e-01  5.030000e-01  9.990000e-01

## 3) Target Mapping & Redundant Columns

In [19]:

df['churn'] = (df['Attrition_Flag'].str.contains('Attrited', case=False)).astype(int)
drop_cols = [c for c in ['CLIENTNUM','Attrition_Flag',
                         'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon',
                         'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_'] if c in df.columns]
df.drop(columns=drop_cols, inplace=True, errors='ignore')
print('After target mapping shape:', df.shape)
df[['churn']].head()

After target mapping shape: (10127, 22)

   churn
0      0
1      0
2      0
3      0
4      0

## 4) Missing Values

In [20]:

missing = df.isnull().sum()
print(missing[missing>0])

num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
cat_cols = df.select_dtypes(exclude=[np.number]).columns.tolist()

for col in num_cols:
    if df[col].isna().any():
        df[col].fillna(df[col].median(), inplace=True)

for col in cat_cols:
    if df[col].isna().any():
        df[col].fillna(df[col].mode()[0], inplace=True)

print('Any remaining NaNs?', df.isnull().any().any())

Series([], dtype: int64)
Any remaining NaNs? False

## 5) Encode Categorical Variables

In [25]:

for c in df.select_dtypes('object').columns:
    df[c] = df[c].str.strip()

if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].map({'M':1, 'F':0}).fillna(0)

income_order = ['Less than $40K','$40K - $60K','$60K - $80K','$80K - $120K','$120K +','Unknown']
if 'Income_Category' in df.columns:
    df['Income_Category'] = pd.Categorical(df['Income_Category'], categories=income_order, ordered=True)
    df['Income_Category_ord'] = df['Income_Category'].cat.codes

edu_order = ['Uneducated','High School','College','Graduate','Post-Graduate','Doctorate','Unknown']
if 'Education_Level' in df.columns:
    df['Education_Level'] = pd.Categorical(df['Education_Level'], categories=edu_order, ordered=True)
    df['Education_Level_ord'] = df['Education_Level'].cat.codes

if 'Marital_Status' in df.columns:
    df = pd.get_dummies(df, columns=['Marital_Status'], drop_first=True)

if 'Card_Category' in df.columns:
    df = pd.get_dummies(df, columns=['Card_Category'], drop_first=True)

print('Shape after encodings:', df.shape)

Shape after encodings: (10127, 42)

## 6) Feature Engineering

In [26]:

if 'Avg_Utilization_Ratio' in df.columns:
    df['util_bucket'] = pd.cut(df['Avg_Utilization_Ratio'],
                               bins=[-0.01, 0.1, 0.3, 0.6, 1.0],
                               labels=['very_low','low','medium','high'])
    df = pd.get_dummies(df, columns=['util_bucket'], drop_first=True)

if 'Months_on_book' in df.columns:
    df['tenure_bucket'] = pd.cut(df['Months_on_book'], bins=[0,12,24,36,48,120],
                                 labels=['<12','12-24','24-36','36-48','48+'])
    df = pd.get_dummies(df, columns=['tenure_bucket'], drop_first=True)

def safe_div(a, b):
    return np.where(b==0, 0, a/b)

if set(['Total_Trans_Amt','Total_Trans_Ct']).issubset(df.columns):
    df['avg_trans_amt'] = safe_div(df['Total_Trans_Amt'], df['Total_Trans_Ct'])

if set(['Total_Ct_Chng_Q4_Q1','Total_Trans_Ct']).issubset(df.columns):
    df['ct_change_x_trans'] = df['Total_Ct_Chng_Q4_Q1'] * df['Total_Trans_Ct']

if 'Customer_Age' in df.columns:
    df['age_bucket'] = pd.cut(df['Customer_Age'], bins=[0,25,35,45,55,65,120],
                              labels=['<25','25-34','35-44','45-54','55-64','65+'])
    df = pd.get_dummies(df, columns=['age_bucket'], drop_first=True)

print('After feature engineering shape:', df.shape)

After feature engineering shape: (10127, 54)

## 7) Export Cleaned Dataset

In [15]:
df.to_csv('churn_cleaned.csv', encoding='utf-8' , index=False)